<form>
  <h1>WTF to do?</h1>
  <label for="insert-item-input">Tell me: </label>
  <input #newItem type="text" id="insert-item-input" placeholder="wtf do you wanna do?" newItem.value=''>
  <button (click)="addItem(newItem, $event)">+</button>

  <div class="btn-wrapper">
    <button class="btn btn-menu" [class.active]="filter == 'all'" (click)="setFilter('all', $event)">
      All
    </button>

    <button class="btn btn-menu" [class.active]="filter == 'active'" (click)="setFilter('active',$event)">
      To Do
    </button>

    <button class="btn btn-menu" [class.active]="filter == 'done'" (click)="setFilter('done',$event)">
      Done
    </button>
  </div>
</form>

<div id="list-container">
  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>

</div>