<div class=" btn-wrapper text-xs gap:8">
  <label>Filter by: </label>
  <button class="btn btn-menu border-2 rounded-md bg-gray-300 w-20" [class.active]="filter == 'all'"
    (click)="setFilter('all', $event)">
    All
  </button>

  <button class="btn btn-menu border-2 rounded-md bg-gray-300 w-20" [class.active]="filter == 'active'"
    (click)="setFilter('active',$event)">
    To Do
  </button>

  <button class="btn btn-menu border-2 rounded-md bg-gray-300 w-20" [class.active]="filter == 'done'"
    (click)="setFilter('done',$event)">
    Done
  </button>

  <button class="btn bg-red-300 border-4 rounded-lg text-gray-600  " style="max-width: fit-content;"
    (click)="removeDoneItems($event)">Remove Done</button>
</div>
